# Exclude #
###########
*

# Whitelist Exceptions #
########################
!*/
!*.md
!.gitignore
!.myfuncs
!*.c
!*.h
!*.sh
!*.py
!*.jpg
!*.css
!*.html
!*.yml
!*.yaml
!*.conf
!Dockerfile
!requirements.txt
!*.tf
!.dockerignore
.idea/
.terraform/
